<div class="container">


<h1>This is the workouts#index page</h1>
<ul>
  <li>
<% @workouts.each do |workout| %>
  <%= link_to workout.date.to_formatted_s(:short), workout %>
  <%= workout['workout'] %>
  <% end %>
</li>
</ul>
</div>
