.navbar {
  color: white;
  border-radius: 0px;
}
.navbar-fixed-bottom {
  text-align: center;
  min-height: 30px;
}
.jumbotron {
  text-align: center;
}
.index-image {
  text-align: center;
}
ul {
  list-style: none;
}
.panel-heading-a {
  text-align: center;
}
